.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding: 50px 120px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  animation: fadeIn 1s ease-out;

  .login-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    gap: 10px;
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;
    backdrop-filter: blur(8px);
    color: #fff;

    h1 {
      font-size: 1.8rem;
      color: #ffffff;
      margin-bottom: 15px;
      font-weight: bold;
    }

    form {
      display: flex;
      flex-direction: column;

      label {
        font-size: 1rem;
        color: #ffffff;
        margin-top: 10px;
        text-align: left;
      }

      input {
        padding: 10px;
        margin-top: 5px;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid #ffffff;
        border-radius: 5px;
        color: #ffffff;
        outline: none;
        transition: all 0.3s ease;

        &::placeholder {
          color: rgba(255, 255, 255, 0.6);
        }

        &:focus {
          border-color: #4CAF50;
        }

        &.error-border {
          border-color: #ff4b4b;
          animation: shake 0.2s ease-in-out;
        }
      }

      .error {
        color: #ff4b4b;
        font-size: 0.9rem;
        margin-top: 5px;
      }

      button {
        margin-top: 20px;
        padding: 10px;
        background-color: #1e90ff;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
        transition: background 0.3s ease;

        &:hover {
          background-color: #4682b4;
        }
      }
    }

    .register-back {
      margin-top: 20px;
      color: rgba(255, 255, 255, 0.8);

      span {
        font-size: 0.9rem;
      }

      p {
        margin: 5px 0 0;
        font-size: 1rem;
        font-weight: bold;
        color: #4CAF50;
        cursor: pointer;
        transition: color 0.3s ease;
        text-decoration: underline;

        &:hover {
          color: #a3d8f4;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}

@media (max-width: 768px) {
  .login {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
  }

  .login-card {
      max-width: 90%; 
  }
}

@media (max-width: 430px) {
  .login-card {
      max-width: 95%;
      padding: 15px; 
  }

  form {
      button {
          font-size: 14px; 
      }
  }
}