* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.chat-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid pink;
    width: 620px;
    height: 590px;

    .chat-content {
        display: flex;
        padding: 20px;
        border: 1px solid yellow;
        
    }
}