* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.navBar {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .navBar-left {
        width: 40%;
        padding-left: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;

        h1 {
            font: 2.4em sans-serif;
            color: #00d9a3;
        }
        h1:hover {
            color: #00b58a;
        }

        .menu-icon {
            display: none;
            font-size: 2rem;
            color: #00d9a3;
            cursor: pointer;
        }

        .menu-icon:hover {
            color: #00b58a;
        }
    }

    .navBar-right {
        width: 60%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 20px;

        .navBar-user {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            img {
                border: 2px solid white;
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
            span {
                font-size: 1.9rem;
                color: #00d9a3;
            }
            span:hover {
                color: #00b58a;
            }
        }

        .notification-wrapper {
            color: #00d9a3;
            font-size: 2rem;
            position: relative;
            cursor: pointer;

            .faBell {
                margin-right: 1rem;
            }

            .notification-count {
                position: absolute;
                top: -8px;
                right: -8px;
                background-color: red;
                color: white;
                border-radius: 50%;
                padding: 0.3rem 0.6rem;
                font-size: 0.8rem;
                font-weight: bold;
            }
        }
        .notification-wrapper:hover {
            color: #00b58a;
        }

        svg {
            color: #00d9a3;
            font-size: 2rem;
            cursor: pointer;
        }
        svg:hover {
            color: #00b58a;
        }
    }

    @media screen and (max-width: 768px) {
        height: auto;

        .navBar-left {
            padding-left: 10px;
            gap: 10px;

            h1 {
                display: none;
            }

            .menu-icon {
                display: block;
                font-size: 2rem;
            }
        }

        .navBar-right {
            width: 100%;
            justify-content: space-between;
            padding: 10px;

            .navBar-user {
                img {
                    width: 25px;
                    height: 25px;
                }
                span {
                    font-size: 1.4rem;
                }
            }

            .notification-wrapper {
                font-size: 1.5rem;
            }
            svg {
                font-size: 1.5rem;
            }
        }
    }

    @media screen and (max-width: 480px) {
        .navBar-left {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30%;
            align-items: center;
            .menu-icon {
                display: block;
                font-size: 1.5rem;
            }
            
        }

        .navBar-right {
            width: 70%;
            gap: 6px;

            .navBar-user {
                img {
                    width: 20px;
                    height: 20px;
                }
                span {
                    font-size: 1rem;
                }
            }

            .notification-wrapper {
                font-size: 1.5rem;

                .notification-count {
                    padding: 0.15rem 0.3rem;
                    font-size: 0.6rem;
                }
            }

            svg {
                font-size: 1.5rem;
            }
        }
    }

    @media screen and (max-width: 360px) {
        .navBar-left {
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: end;
            .menu-icon {
                display: block;
                font-size: 1.2rem;
            }
            h1 {
                display: none;
            }
        }

        .navBar-right {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            gap:5px;
            width: 70%;
            .navBar-user {
                img {
                    width: 18px;
                    height: 18px;
                }
                span {
                    font-size: 0.9rem;
                }
            }

            .notification-wrapper {
                font-size: 1.2rem;

                .notification-count {
                    padding: 0.1rem 0.25rem;
                    font-size: 0.5rem;
                }
            }

            svg {
                font-size: 1.2rem;
            }
        }
    }
}





