* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.navBar {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid red;

    .navBar-left {
        width: 40%;
        padding-left: 40px;

        h1 {
            font: 2.4em sans-serif;
            color: silver;
        }
    }

    .navBar-right {
        width: 60%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 20px;

        .navBar-user {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 10px;

            img {
                border: 1px solid red;
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
            span {
                font-size: 1.5rem;
                color: silver;
            }
        }

            .notification-wrapper {
                position: relative;
                cursor: pointer;
        
                .faBell {
                    margin-right: 1rem;
                }
        
                .notification-count {
                    position: absolute;
                    top: -8px;
                    right: -8px;
                    background-color: red;
                    color: white;
                    border-radius: 50%;
                    padding: 0.3rem 0.6rem;
                    font-size: 0.8rem;
                    font-weight: bold;
                }
            }
        }
}

