* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.sideBar {
    display: flex;
    flex-direction: column;
    height: 72vh;
    width: 290px;
    border-right: 1px solid red;

    .sideBar-search {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: auto;
    }
}